mixin dropdown(id,title, stateText, placeholderText,optArr,blockWidth)
  div(class="dropdown_" + blockWidth)
    .dropdown_infoBox
      .dropdown__title #{title}
      .dropdown__state #{stateText}
    .dropdown__input 
      span #{placeholderText}
      .dropdown__arrowBox      
    ul(id=id).dropdown__list
      each val in optArr
        +ddListItem(val)
      

mixin ddListItem(itemObj)
  li.dropdown__item
      .dropdown__text #{itemObj.itemText}
      .dropdown__btnContainer
        button(disabled="disabled").dropdown__btnMinus -
        p.dropdown__value #{itemObj.itemValue}
        button.dropdown__btnPlus.ddBtn_active +


//- Все, понял. На li надо навесить display:flex, justify-content: space-between